@font-face {
    font-family: 'Raleway';
    src: url('./assets/Raleway/Raleway-VariableFont_wght.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('./assets/Raleway/Raleway-Italic-VariableFont_wght.ttf') format('ttf');
    font-weight: 700;
    font-style: normal;
}

html body {
    position: relative;
    margin: 0;
    height: 100%;
    font-family: 'Raleway', sans-serif;
    padding-top: 120px;
    overflow-x: hidden;
}


.orange-tag {
    color: #ff8000;
}

.nav-bar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ff8000;
    margin: 0;
}

.logo-img {
    padding-left: 24px;
    height: 50px;
    width: auto;
    object-fit: contain;
}

.menu-img {
    padding-right: 24px;
    height: 50px;
}

.hero {
    position: relative;
    width: 100%;
    height: auto;
}

main {
    display: flex;
    justify-content: space-between;
}

.left-side {
    width: 100%;
}

.header-img {
    height: 256px;
    width: 100%;
    object-fit: cover;
}

.profile-pic-container {
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.profile-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: white;
}

.tab-header {
    height: 96px;
    width: 100%;
    margin-left: 24px;
}

.tab-menu {
    height: 64px;
    background-color: #f7f6f2;
    display: flex;
    align-items: center;
    padding-left: 24px;
}

.tab-menu img {
    height: 32px;
    padding-right: 16px;
}

.tab-menu a {
    padding-right: 16px;
    text-decoration: none;
    font-weight: 700;
    color: #252121c4;
}

.food-img {
    height: 132px;
    width: 100%;
    object-fit: cover;
    margin: 0;
    margin-top: 16px;
}

.titel-menu {
    padding-left: 24px;
}

.menu-item {
    display: flex;
    justify-content: space-between;
    padding: 12px;
    margin: 24px;
    border: 1px solid #d0d0d0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.price {
    font-weight: 700;
}

.add-button {
    padding-block: 0;
    padding-inline: 0;
    border-width: 0;
    background-color: white;
}

.add-button:hover img {
    cursor: pointer;
}

footer {
  height: 120px;
  background-color: #818181;
  z-index: 1;
  position: relative;
}


@media (max-width: 800px) {
    .titel-menu {
        padding-top: 38px;
    }
}